main {
 background-image: url(https://share.google/Qj9Yi7JC4QhnbO56H) ;
 font-family: sans-serif ;
 padding: 15px
}
h1 {
  margin-top: 0
  font-size: 25px ;
  text-align: center ;
}
p {
  text-align: center
 margin-top: 15px ;
 margin-bottom: 15px ;
}
hr {
  height: 2px
  background-color: black;
  border-color: black
}
form {
  background-color: white;
  width: 60% 
  max-width: 300px ; 
  margin-left: auto ;
  margin-right:auto;
 border-radius: 5px;
}
 button {
  border-color: black ;
  color: white ;
  text-color: blue ;
  border: 1px ;
  height: 9px ;
  width: 13px ;
  padding: 12px ;
  cursor: pointer ;
 }
button:hover {
 border-color: blue ;
 border: 3px ;
}
label {
 display: block ;
 margin-bottom: 8px ;
 font-weight: bold ;
 font-size: 15px 
}

input {
 width: 200px ;
 padding: 10px ;
 margin-bottom: 15px ;
}
textarea {
 padding: 10px ;
 height: 15px ;
}
